* {
    background-color:rgb(248, 51, 90);
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-radius: 15%;
    border-color: black;
}

#description {
    text-align: center;
    font-weight: bold;
    color: rgb(255, 206, 206);
    padding-top: 2%;
    padding-bottom: 2%;
}

h1 {
    text-align: center;
    font-size: x-large;
}

.footer {
    text-align: center;
    padding-top: 10%;
}

.left-aligned {
    text-align: left;
}

.right-aligned {
    text-align: right;
    padding-right: 40px;
}